menu "Project configuration"
    config PROJECT_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            WiFi SSID to connnect
    config PROJECT_WIFI_PASSWORD
        string "WiFi password"
        default "mypassword"
        help
            WiFi password
    config PROJECT_MQTT_BROKER_URI
        string "MQTT broaker URI"
        default "mqtt://192.168.1.100"
    config PROJECT_MQTT_TOPIC
        string "MQTT topic"
        default "mytopic"
    config PROJECT_LATEST_APP_URL
        string "URL to the latest application"
        default "http://192.168.1.100/latest"
endmenu
